# executables
*.out
*.exe

# data
/data/**/*.csv
/data/**/*.json
/data/**/*.data
/data/**/*.jpg
/data/**/*.ndjson

# Plots
*plots

# Weight files
*.pth

# Virtual environments
/venv-mltoolbox
/mltoolbox

# Cache
*__pycache__